<?xml version="1.0"?>
<ruleset name="LicencePress">
    <description>LicencePress PHP coding standards.</description>

    <config name="testVersion" value="7.2-" />

    <rule ref="WordPress">
        <exclude name="WordPress.Files.FileName" />
        <exclude name="WordPress.DB.DirectDatabaseQuery" />
        <exclude name="WordPress.DB.PreparedSQL" />
        <exclude name="WordPress.DB.PreparedSQLPlaceholders" />
        <exclude name="WordPress.Security.NonceVerification" />
        <exclude name="WordPress.Security.EscapeOutput" />
        <exclude name="WordPress.Security.ValidatedSanitizedInput" />
        <exclude name="WordPress.PHP.YodaConditions" />
        <exclude name="WordPress.NamingConventions.ValidFunctionName" />
        <exclude name="WordPress.NamingConventions.ValidVariableName" />
        <properties>
            <property name="custom_capabilities" type="array">
                <element value="licencepress_admin_view" />
                <element value="licencepress_dashboard_view" />
                <element value="licencepress_licence_view" />
                <element value="licencepress_licence_issue" />
                <element value="licencepress_licence_edit" />
                <element value="licencepress_licence_revoke" />
                <element value="licencepress_licence_delete" />
                <element value="licencepress_licence_validate" />
                <element value="licencepress_settings_general_view" />
                <element value="licencepress_settings_general_edit" />
                <element value="licencepress_settings_layout_edit" />
                <element value="licencepress_settings_access_view" />
                <element value="licencepress_settings_access_edit" />
                <element value="licencepress_settings_security_view" />
                <element value="licencepress_settings_security_edit" />
                <element value="licencepress_tools_import" />
                <element value="licencepress_tools_export" />
                <element value="licencepress_tools_debug" />
                <element value="licencepress_tools_reset" />
                <element value="licencepress_paypal_view" />
                <element value="licencepress_paypal_manage" />
                <element value="licencepress_paypal_checkout" />
                <element value="licencepress_paypal_subscriptions" />
                <element value="licencepress_settings_plugins_view" />
                <element value="licencepress_settings_plugins_int_view" />
                <element value="licencepress_settings_plugins_int_edit" />
                <element value="licencepress_settings_plugins_ext_view" />
                <element value="licencepress_settings_plugins_ext_edit" />
                <element value="licencepress_page_create" />
                <element value="licencepress_page_edit" />
                <element value="licencepress_page_edit_others" />
                <element value="licencepress_page_edit_published" />
                <element value="licencepress_page_publish" />
            </property>
        </properties>
    </rule>
    <rule ref="WordPress-Core">
        <exclude name="WordPress.Files.FileName" />
    </rule>
    <rule ref="WordPress-Docs">
        <exclude name="WordPress.Files.FileName" />
    </rule>
    <rule ref="WordPress-Extra">
        <exclude name="WordPress.Files.FileName" />
        <exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
        <exclude name="WordPress.NamingConventions.ValidVariableName.UsedPropertyNotSnakeCase" />
        <exclude name="WordPress.NamingConventions.ValidVariableName.InterpolatedVariableNotSnakeCase" />
        <exclude name="WordPress.Security.NonceVerification" />
        <exclude name="WordPress.Security.EscapeOutput" />
        <exclude name="WordPress.Security.ValidatedSanitizedInput" />
        <exclude name="WordPress.DB.DirectDatabaseQuery" />
        <exclude name="WordPress.DB.PreparedSQL" />
        <exclude name="WordPress.DB.PreparedSQLPlaceholders" />
        <exclude name="Squiz.Commenting.FunctionComment" />
        <exclude name="Squiz.Commenting.ClassComment" />
        <exclude name="Squiz.Commenting.FileComment" />
        <exclude name="Generic.Commenting.DocComment.MissingShort" />
        <exclude name="Universal.NamingConventions.NoReservedKeywordParameterNames" />
    </rule>
    <rule ref="PHPCompatibilityWP">
        <exclude name="PHPCompatibility.Classes.NewTypedProperties" />
    </rule>

    <exclude-pattern>*/vendor/*</exclude-pattern>
    <exclude-pattern>*/node_modules/*</exclude-pattern>
    <exclude-pattern>*/Assets/dist/*</exclude-pattern>
    <exclude-pattern>*/Assets/tinymce/*</exclude-pattern>

    <file>src</file>
    <file>Test</file>
    <arg name="basepath" value="." />
    <arg name="colors" />
    <arg name="parallel" value="4" />
    <arg name="extensions" value="php" />
    <arg name="ignore" value="*/vendor/*,*/node_modules/*,*/Assets/dist/*,*/Assets/tinymce/*" />
</ruleset>